body{background: url("../images/p4-bg.jpg") center no-repeat; background-size: 100% 100%;}
.rel{ position: relative;}
.header{
    margin: auto;
    width: 100%;
    height: 43px;
}
.topbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
}
.topbar{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/p2-top.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: topbar 0.5s ease-out alternate;
    -moz-animation: topbar 0.5s ease-out alternate;
    animation: topbar 0.5s ease-out alternate;
}
.wrapper{
    margin: auto;
    width: 320px;
    height: 300px;
}
.p4-c{
    margin:auto;
    width: 185px;
    height: 300px;
}
.p4-1c{
    position: absolute;
    bottom: 30px;
    left: 0%;
    width: 185px;
    height: 230px;
    background: url("../images/p4-1c.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: p41c 0.5s ease alternate;
    -moz-animation: p41c 0.5s ease alternate;
    animation: p41c 0.5s ease alternate;
}
.p4-i{
    position: absolute;
    bottom: 10px;
    left: -7px;
    width: 120px;
    height: 260px;
    background: url("../images/p4-phone.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: p4i 0.5s ease alternate;
    -moz-animation: p4i 0.5s ease alternate;
    animation: p4i 0.5s ease alternate;
}
.p4-2c{
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 110px;
    height: 25px;
    background: url("../images/p4-2c.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: p42c 0.5s ease-out alternate;
    -moz-animation: p42c 0.5s ease-out alternate;
    animation: p42c 0.5s ease-out alternate;
}
.p4-3c{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 80px;
    height: 25px;
    background: url("../images/p4-3c.png") center no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-animation: p43c 0.5s ease-out alternate;
    -moz-animation: p43c 0.5s ease-out alternate;
    animation: p43c 0.5s ease-out alternate;
}
.p4-4c{
    display: none;
    position: absolute;
    bottom: 28px;
    right: -37px;
    width: 150px;
    height: 80px;
    background: url("../images/p4-4c.png") center no-repeat;
    background-size: 100% 100%;
}
.content-d{
    margin: auto;
    width: 200px;
    height: 60px;
}
.c-d-1{
    position: absolute;
    top: 5px;
    right: 30px;
    width: 115px;
    height: 18px;
    background: url("../images/meirirenw.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: cd1 0.5s ease-out alternate;
    -moz-animation: cd1 0.5s ease-out alternate;
    animation: cd1 0.5s ease-out alternate;
}
.c-d-2{
    position: absolute;
    bottom: 5px;
    left: 30px;
    width: 120px;
    height: 25px;
    background: url("../images/yaobijiangli.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: cd2 0.5s ease-out alternate;
    -moz-animation: cd2 0.5s ease-out alternate;
    animation: cd2 0.5s ease-out alternate;
}
.footer{
    margin: auto;
    width: 325px;
    height: 40px;
    background: url("../images/faxianwo.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: foot 0.5s ease-out alternate;
    -moz-animation: foot 0.5s ease-out alternate;
    animation: foot 0.5s ease-out alternate;
}
.arrow{
    position: absolute;
    top: 0;
    right: 100px;
    width: 30px;
    height: 100%;
    background: url("../images/arrow.png") center no-repeat;
    background-size: 100% 100%;
    -webkit-animation: arrow 1s ease infinite;
    -moz-animation: arrow 1s ease infinite;
    animation: arrow 1s ease infinite;
}
@-webkit-keyframes topbar {
    from {
        background-size: 50% 50%;
    }
    to {
        background-size: 100% 100%;
    }
}
@keyframes topbar {
    from {
        background-size: 50% 50%;
    }
    to {
        background-size: 100% 100%;
    }
}
@-webkit-keyframes p41c {
    0% {
        bottom:500px
    }
    100% {
        bottom:30px;
    }
}
@keyframes p41c {
    0% {
        bottom:500px
    }
    100% {
        bottom:30px;
    }
}
@-webkit-keyframes p4i {
    0% {
        left:-50px;
        background-size: 50% 50%;
        opacity: 0;
    }
    100% {
        left:-7px;
        background-size: 100% 100%;
        opacity: 1;
    }
}
@keyframes p4i {
    0% {
        left:-50px;
        background-size: 50% 50%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        left:-7px;
        background-size: 100% 100%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes p42c {
    0% {
        background-size: 50% 50%;
        opacity: 0;
    }
    100% {
        background-size: 100% 100%;
        opacity: 1;
    }
}
@keyframes p42c {
    0% {
        background-size: 50% 50%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        background-size: 100% 100%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes p43c {
    0% {
        background-size: 50% 50%;
        opacity: 0;
    }
    100% {
        background-size: 100% 100%;
        opacity: 1;
    }
}
@keyframes p43c {
    0% {
        background-size: 50% 50%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        background-size: 100% 100%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@-webkit-keyframes cd1 {
    0% {
        right:-100px
    }
    100% {
        right:30px;
    }
}
@keyframes cd1 {
    0% {
        right:-100px
    }
    100% {
        right:30px;
    }
}
@-webkit-keyframes cd2 {
    0% {
        left:-100px
    }
    100% {
        left:30px;
    }
}
@keyframes cd2 {
    0% {
        left:-100px
    }
    100% {
        left:30px;
    }
}
@-webkit-keyframes foot {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}
@keyframes foot {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    70% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    80% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
        opacity: 0.25;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes arrow {
    0% {
        top:10px
    }
    100% {
        top:-10px;
    }
}
@keyframes arrow {
    0% {
        top:10px
    }
    100% {
        top:-10px;
    }
}